.row {
	margin:10px 0 ;
}

img {
	width:100%;
}

.gifs {
	color:#f9edbf;
	background-color: #512C54;
	border: none;
	border-radius: 5px;
	padding: 5px 10px;
	margin:10px;
	font-weight: bold;
	font-size: 15px;
	letter-spacing: 1px;
	font-family: 'Quicksand', sans-serif;

}

#add-button{
	font-family: 'Quicksand', sans-serif;
	color:#f9edbf;
	background-color: #FF5C58;
	border: none;
	border-radius: 5px;
	padding: 5px 10px;
	margin:10px;
	font-family: 'Quicksand', sans-serif;

}


p {
	color:#f9edbf;
	background-color: #FF5C58;
	border: none;
	border-radius: 5px 5px 0 0;
	padding: 5px 10px;
	margin-bottom: 0;
}

.col-3 {
    margin-bottom: 15px;
}

.jumbotron{
	background-color: #32CCB0;
	color:#f9edbf;
}

h1 {
	font-family: 'Abril Fatface', cursive;
	letter-spacing: 4px;
}

p, input, label{
	font-family: 'Quicksand', sans-serif;
	letter-spacing: 1px;

}